<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/health/health.css" />
    <link rel="stylesheet" href="/css/main/header.css" data-whatIsThis="헤더CSS임포트" />
		<link rel="stylesheet" href="/css/main/footer.css" data-whatIsThis="푸터CSS임포트" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>기구 소개</title>
</head>

<body>
    <div class="wrapper">
    		<div th:replace="~{main/header :: header}">헤더파일 가져오는곳</div>
    		

        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-sub-title">Program</div>
                        <div class="top-sub-desc">프로그램</div>
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div>

        <section class="content">
            <!-- .container -->
            <div class="container">
                <!-- HEALTHCOACH -->
                <div class="row">
                    <div class="intro-serv-wrap mt15p">
                        <div class="serv-box">
                            <div class="row">
                                <div class="col-md-6 mb10p">
                                    <img src="https://www.bodychannel.co.kr/dist/img/program/pro_img_new_1.jpg"
                                        class="mWt100p">
                                </div>
                                <div class="col-md-6">
                                    <div class="serv-desc-box">
                                        <p><img src="https://www.bodychannel.co.kr/dist/img/program/technogym_logo.png"
                                                class="mWt100p"></p>
                                        <dt class="mt10p">
                                        </dt>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">01</span> 세계적으로 사랑받는
                                            프리미엄 이탈리아 브랜드</dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">02</span> 올림픽 공식 후원사
                                        </dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">03</span> 세계 각국의 특급호텔,
                                            세계 유명 기업에서 사용하는 머신 </dd>

                                        <div class="mt5p">
                                            <img src="https://www.bodychannel.co.kr/dist/img/program/technogym_brand.png"
                                                class="mWt100p">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="serv-desc-box">
                                        <p><img src="https://www.bodychannel.co.kr/dist/img/program/matrix_logo.png"
                                                class="mWt100p"></p>
                                        <dt class="mt10p">
                                        </dt>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">01</span> 20년 기술의 세계적인
                                            프리미엄 피트니스 브랜드</dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">02</span> 독창적이고, 독점적인
                                            기술력을 통한 최고의 품질</dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">03</span> 세계가 인정한 탁월한
                                            디자인으로 각종 수상</dd>

                                        <div class="mt5p">
                                            <img src="https://www.bodychannel.co.kr/dist/img/program/matrix_brand.png"
                                                class="mWt100p">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="https://www.bodychannel.co.kr/dist/img/program/pro_img_new_2.jpg"
                                        class="mWt100p">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--// HEALTHCOACH -->







                <!-- 프리미엄 머신 -->
                <div class="row mt5p" style="padding: 5% 2%;">
                    <div class="mach-tit-box mt2p">
                        <p class="fw6 tal">5성급 호텔 프리미엄 머신</p>
                        <p class="fcf desc">바디채널 운동머신은 5성급 호텔에서 사용되는 최신 트레이닝 장비들로 운동 퀄리티를 높혀드립니다.</p>
                        <p class="fcf desc">Matrix, Lifefitness, Hammer strength, Cybex, Precor 등 전세계 최고급 장비로 설치되어있습니다.
                        </p>
                    </div>
                    <div class="pts-fact1-wrap">
                        <!-- mach-box -->
                        <div class="mach-box swiper-container swiper-container-css-mode this1">
                            <div class="top-logo tac"><img
                                    src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_logo1.png"></div>

                            <div class="bot-wrap swiper-wrapper this1">
                                <div class="bot-img-box swiper-slide swiper-slide-active" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img1.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Leg Press</p>
                                        <p>레그 프레스</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide swiper-slide-next" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img2.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Leg Extension</p>
                                        <p>레그 익스텐션</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img3.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Pectoral</p>
                                        <p>펙토럴</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="	https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img4.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Total Abdominal</p>
                                        <p>토탈 업도미널</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img13.png">
                                    </div>
                                    <div class="img-txt">
                                        <p>Prone Leg Curl</p>
                                        <p>프론 레그컬</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img14.png">
                                    </div>
                                    <div class="img-txt">
                                        <p>Cable Stations 5</p>
                                        <p>케이블 스테이션5</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <!-- swiper-button-disabled클래스가 붙으면 투명도 적용되서 비활성화 표시 -->
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                aria-disabled="false" style="height: 16%;"></div>
                            <div class=" swiper-button-prev" tabindex="-1" style="height: 16%;"></div>
                            <!-- Add Pagination -->
                            <div class=" swiper-pagination"></div>

                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        <!--// mach-box -->

                        <!-- mach-box -->
                        <div class="mach-box swiper-container swiper-container-css-mode this2">
                            <div class="top-logo tac"><img
                                    src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_logo2.png"></div>
                            <div class="bot-wrap swiper-wrapper this2">
                                <div class="bot-img-box swiper-slide swiper-slide-active" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img5.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Climbmill</p>
                                        <p>클라이밀</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide swiper-slide-next" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img6.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Treadmill</p>
                                        <p>트레드밀</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img7.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Rower</p>
                                        <p>로워</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img8.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Suspension Elliptical</p>
                                        <p>서스펜션 일렙티컬</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img15.png">
                                    </div>
                                    <div class="img-txt">
                                        <p>Suspension</p>
                                        <p>서스펜션</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img16.png">
                                    </div>
                                    <div class="img-txt">
                                        <p>Low</p>
                                        <p>로우</p>
                                    </div>
                                </div>

                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                aria-disabled="false" style="height: 16%;"></div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button"
                                aria-label="Previous slide" aria-disabled="true" style="height: 16%;"></div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        <!--// mach-box -->

                        <!-- mach-box -->
                        <div class="mach-box swiper-container swiper-container-css-mode this3">
                            <div class="top-logo tac"><img
                                    src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_logo3.png"></div>
                            <div class="bot-wrap swiper-wrapper this3">
                                <div class="bot-img-box swiper-slide swiper-slide-active" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img17.png">
                                    </div>
                                    <div class="img-txt">
                                        <p>Hammer Lat pull down</p>
                                        <p>해머 랫 풀 다운</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide swiper-slide-next" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img18.png">
                                    </div>
                                    <div class="img-txt">
                                        <p>Low row</p>
                                        <p>로우 로우</p>
                                    </div>
                                </div>

                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img9.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Jammer</p>
                                        <p>잼머</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img10.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Combo Incline</p>
                                        <p>콤보 인클라인</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img11.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Seated Row</p>
                                        <p>시티드 로우</p>
                                    </div>
                                </div>
                                <div class="bot-img-box swiper-slide" style="width: 281px;">
                                    <div><img src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_img12.jpg">
                                    </div>
                                    <div class="img-txt">
                                        <p>Fixed Pulldown</p>
                                        <p>픽스드 풀다운</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                aria-disabled="false" style="height: 16%;"></div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button"
                                aria-label="Previous slide" aria-disabled="true" style="height: 16%;"></div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        <!--// mach-box -->
                    </div>
                </div>
                <!--// 프리미엄 머신 -->



            </div>
            <!-- End .container -->
        </section>

				<div th:replace="~{main/footer :: footer}">푸터파일 가져오는곳</div>
				
    </div>
    <script src="/js/health/health.js"></script>
</body>

</html>