<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/health/health.css" />
    <link rel="stylesheet" href="/css/main/header.css" data-whatIsThis="헤더CSS임포트" />
		<link rel="stylesheet" href="/css/main/footer.css" data-whatIsThis="푸터CSS임포트" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>기구 소개</title>
</head>

<body>
    <div class="wrapper">
    		<div th:replace="~{main/header :: header}">헤더파일 가져오는곳</div>
    		

        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-sub-title">Program</div>
                        <div class="top-sub-desc">프로그램</div>
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div>

        <section class="content">
            <!-- .container -->
            <div class="container">
                <!-- HEALTHCOACH -->
                <div class="row">
                    <div class="intro-serv-wrap mt15p">
                        <div class="serv-box">
                            <div class="row">
                                <div class="col-md-6 mb10p">
                                    <img src="https://www.bodychannel.co.kr/dist/img/program/pro_img_new_1.jpg"
                                        class="mWt100p">
                                </div>
                                <div class="col-md-6">
                                    <div class="serv-desc-box">
                                        <p><img src="https://www.bodychannel.co.kr/dist/img/program/technogym_logo.png"
                                                class="mWt100p"></p>
                                        <dt class="mt10p">
                                        </dt>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">01</span> 세계적으로 사랑받는
                                            프리미엄 이탈리아 브랜드</dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">02</span> 올림픽 공식 후원사
                                        </dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">03</span> 세계 각국의 특급호텔,
                                            세계 유명 기업에서 사용하는 머신 </dd>

                                        <div class="mt5p">
                                            <img src="https://www.bodychannel.co.kr/dist/img/program/technogym_brand.png"
                                                class="mWt100p">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="serv-desc-box">
                                        <p><img src="https://www.bodychannel.co.kr/dist/img/program/matrix_logo.png"
                                                class="mWt100p"></p>
                                        <dt class="mt10p">
                                        </dt>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">01</span> 20년 기술의 세계적인
                                            프리미엄 피트니스 브랜드</dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">02</span> 독창적이고, 독점적인
                                            기술력을 통한 최고의 품질</dd>
                                        <dd class="designapp_brand_text"><span class="fcff4c fw6">03</span> 세계가 인정한 탁월한
                                            디자인으로 각종 수상</dd>

                                        <div class="mt5p">
                                            <img src="https://www.bodychannel.co.kr/dist/img/program/matrix_brand.png"
                                                class="mWt100p">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="https://www.bodychannel.co.kr/dist/img/program/pro_img_new_2.jpg"
                                        class="mWt100p">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--// HEALTHCOACH -->







                <!-- 프리미엄 머신 -->
                <div class="row mt5p" style="padding: 5% 2%;">
                    <div class="mach-tit-box mt2p">
                        <p class="fw6 tal">5성급 호텔 프리미엄 머신</p>
                        <p class="fcf desc">바디채널 운동머신은 5성급 호텔에서 사용되는 최신 트레이닝 장비들로 운동 퀄리티를 높혀드립니다.</p>
                        <p class="fcf desc">Matrix, Lifefitness, Hammer strength, Cybex, Precor 등 전세계 최고급 장비로 설치되어있습니다.
                        </p>
                    </div>
                    <div class="pts-fact1-wrap">
                    
                        
                        <div class="mach-box swiper-container swiper-container-css-mode this1">
                            <div class="top-logo tac"><img
                                    src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_logo1.png"></div>

														<!-- 슬라이드1 -->
                            <div class="bot-wrap swiper-wrapper this1">
                            
                            		<th:block th:each="item : ${set1}">
                                <div class="bot-img-box swiper-slide swiper-slide-active" style="width: 281px;">
                                    <div>
                                    	<img th:src="${item.getMachine_profile()}">
                                    </div>
                                    <div class="img-txt" th:text="${item.getMachine_name()}">
                                        <p>Leg Press</p>
                                    </div>
                                </div>
                                </th:block>
                                
                            </div>

                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                aria-disabled="false" style="height: 16%;"></div>
                            <div class=" swiper-button-prev" tabindex="-1" style="height: 16%;"></div>

                            <div class=" swiper-pagination"></div>

                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>

                        
                        <div class="mach-box swiper-container swiper-container-css-mode this2">
                            <div class="top-logo tac"><img
                                    src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_logo2.png"></div>
                            
                            <!-- 슬라이드2 -->
                            <div class="bot-wrap swiper-wrapper this2">
                            		<th:block th:each="item : ${set2}">
                                <div class="bot-img-box swiper-slide swiper-slide-active" style="width: 281px;">
                                    <div>
                                    	<img th:src="${item.getMachine_profile()}">
                                    </div>
                                    <div class="img-txt">
                                        <p th:text="${item.getMachine_name()}">기구 이름</p>
                                    </div>
                                </div>
                                </th:block>

                            </div>

                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                aria-disabled="false" style="height: 16%;"></div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button"
                                aria-label="Previous slide" aria-disabled="true" style="height: 16%;"></div>

                            <div class="swiper-pagination"></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>



                        <div class="mach-box swiper-container swiper-container-css-mode this3">
                            <div class="top-logo tac"><img
                                    src="https://www.bodychannel.co.kr/dist/img/ptshop/pts_mach_logo3.png"></div>
                            <!-- 슬라이드3 -->
                            <div class="bot-wrap swiper-wrapper this3">
                            		<th:block th:each="item : ${set3}">
                                <div class="bot-img-box swiper-slide swiper-slide-active" style="width: 281px;">
                                    <div>
                                    	<img th:src="${item.getMachine_profile()}">
                                    </div>
                                    <div class="img-txt">
                                        <p th:text="${item.getMachine_name()}">기구 이름</p>
                                    </div>
                                </div>
                                </th:block>
                                
                            </div>

                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                aria-disabled="false" style="height: 16%;"></div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button"
                                aria-label="Previous slide" aria-disabled="true" style="height: 16%;"></div>

                            <div class="swiper-pagination"></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>

                    </div>
                </div>




            </div>
        </section>

				<div th:replace="~{main/footer :: footer}">푸터파일 가져오는곳</div>
				
    </div>
    <script src="/js/health/health.js"></script>
</body>

</html>