<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/musclematrix/musclematrix.css" />
    <link rel="stylesheet" href="/css/main/header.css" data-whatIsThis="헤더CSS임포트" />
		<link rel="stylesheet" href="/css/main/footer.css" data-whatIsThis="푸터CSS임포트" />
    
    <title>소개페이지</title>
</head>

<body>
    <div class="wrapper">
    		<div th:replace="~{main/header :: header}">헤더파일 가져오는곳</div>
    		
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="page-header-wrapper">
                        <div class="top-sub-title">INTRODUCE</div>
                        <div class="top-sub-desc">머슬매트릭스 소개</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-margin2x"></div>
        <section class="content" role="main">
            <div class="container">
                <div class="intro-serv-wrap">
                    <div class="serv-box">

                        <div class="row">
                            <div class="col">
                                <img src="https://www.bodychannel.co.kr/dist/img/intro/intro_ser_img_1.jpg"
                                    style="width:600px; height:300px">
                            </div>
                            <div class="col">
                                <div class="serv-desc-box">
                                    <p class="fs25" style="margin-bottom: 0;font-style: italic;">01</p>
                                    <p class="fs25" style="margin-bottom: 1.5rem;font-style: italic;color:#FF4C4C;">24시간
                                        연중무휴 전지점 통합회원권</p>
                                    <p style="line-height: 1.5;">
                                        - 24시간 365일 연중무휴로 원하는 시간에 언제든지<br>
                                        - 전지점 프리패스 통합 회원권으로 원하는 지역 어디든지<br>
                                        - 합리적인 회원권 금액으로 최상의 혜택 제공<br>
                                        - 야간에도 안전한 보안경비 시스템<br>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="serv-desc-box" style="text-align:right;">
                                    <p class="fs25" style="margin-bottom: 0;font-style: italic;">02</p>
                                    <p class="fs25" style="margin-bottom: 1.5rem;font-style: italic;color:#FF4C4C;">트렌디한
                                        인테리어</p>
                                    <p style="line-height: 1.5;">
                                        - 운동에 집중할 수 있도록 낮은 조도의 조명 설치<br>
                                        - 운동을 즐길 수 있도록 고급스럽고 세련된 공간 연출<br>
                                        - 최고급 음향 시설, 트렌디한 인테리어<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <img src="https://www.bodychannel.co.kr/dist/img/intro/intro_ser_img_2.jpg"
                                    style="width:600px; height:300px">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <img src="https://www.bodychannel.co.kr/dist/img/intro/intro_ser_img_7.jpg"
                                    style="width:100%;">
                            </div>
                            <div class="col">
                                <div class="serv-desc-box">
                                    <p class="fs25 fw9" style="margin-bottom: 0;font-style: italic;">03</p>
                                    <p class="fs25 fw9" style="margin-bottom: 1.5rem;font-style: italic;color:#FF4C4C;">
                                        5성급 호텔 운동머신</p>
                                    <p style="line-height: 1.5;">
                                        - 최신 트레이닝 장비들로 운동 퀄리티 상승<br>
                                        - 전문성을 갖춘 체계화된 운동 가능<br>
                                        - Matrix, Lifefitness, Hammer strength, Technogym.<br>
                                        - 전세계 최고급 장비 세팅<br>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="serv-desc-box" style="text-align:right;">
                                    <p class="fs25 fw9" style="margin-bottom: 0;font-style: italic;">04</p>
                                    <p class="fs25 fw9" style="margin-bottom: 1.5rem;font-style: italic;color:#FF4C4C;">
                                        다양한 그룹운동</p>
                                    <p style="line-height: 1.5;">
                                        - 필라테스, 요가, 댄스, 줌바 등<br>
                                        - 다양한 그룹운동 프로그램<br>
                                        - 혼자 하는 운동이 아닌 함께 즐기는 그룹 운동<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <img src="https://www.bodychannel.co.kr/dist/img/intro/intro_ser_img_5.jpg"
                                    style="width:100%;">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt10p" style="padding:1rem;">
                    <div class="sys-tit-wrap">
                        <p class="mb5">바디채널 24시 운영 보안 시스템</p>
                        <p>야간 이용 시 회원님의 안전을 위해 최선을 다하고 있습니다.</p>
                    </div>
                    <div class="sys-info-wrap">
                        <div class="col-md-4">
                            <div class="info-icon"><img
                                    src="https://www.bodychannel.co.kr/dist/img/intro/bra_sys_icon_2.png"></div>
                            <p class="info-tit">전자 보안 키</p>
                            <p>바디채널 회원님만을 위한<br>QR코드가 발급됩니다.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="info-icon"><img
                                    src="	https://www.bodychannel.co.kr/dist/img/intro/bra_sys_icon_1.png"></div>
                            <p class="info-tit">비상호출 버튼</p>
                            <p>위급상황 시 24시간<br>긴급출동 서비스가 제공됩니다.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="info-icon"><img
                                    src="https://www.bodychannel.co.kr/dist/img/intro/bra_sys_icon_3.png"></div>
                            <p class="info-tit">바디채널 전산 출입 시스템</p>
                            <p>자체 개발 전산 시스템을 통해<br>회원님의 출입이 기록됩니다.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="info-icon"><img
                                    src="https://www.bodychannel.co.kr/dist/img/intro/bra_sys_icon_4.png"></div>
                            <p class="info-tit">피트니스 내 약 20대 CCTV 설치</p>
                            <p>사각지대 없는 20여대의<br>CCTV가 24시간 기록합니다.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="info-icon"><img
                                    src="https://www.bodychannel.co.kr/dist/img/intro/bra_sys_icon_5.png"></div>
                            <p class="info-tit">개인 안전장치</p>
                            <p>야간 이용 시 비상목걸이<br>착용 후 안전하게 운동 가능합니다.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="info-icon"><img
                                    src="https://www.bodychannel.co.kr/dist/img/intro/bra_sys_icon_6.png"></div>
                            <p class="info-tit">AED 제세동기 완비</p>
                            <p>심정지 환자 발생 시<br>신속한 대처가 가능합니다.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
				
				<div th:replace="~{main/footer :: footer}">푸터파일 가져오는곳</div>
				
    </div>


    <!-- 푸터자리 -->
</body>

</html>