<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MuscleMatrix 메인페이지</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main/header.css" />
    <link rel="stylesheet" href="/css/main/main.css" />
    <link rel="stylesheet" href="/css/main/footer.css" />
  </head>
  <body>
    <div class="main-allwrap" th:fragment="footer">
      <footer class="footer-allwrap">
        <div class="footer-container-div">
          <div class="footer-logo">
            <img
              src="/images/MuscleMatrixLogo.png"
              width="280"
              height="60"
            />
          </div>
          <div class="footer-letter-wrap">
            <div class="footer-letter-realdiv" style="padding-bottom: 10px">
              <a href="#">이용약관</a> │ <a href="#">개인정보처리방침</a> │<a
                th:href="@{/join/join}"
                >회원가입</a
              >
              │<a th:href="@{/login/login/3}" th:if="${isLogin == 'no'}">로그인</a><a th:href="@{/logout}" th:if="${isLogin == 'yes'}">로그아웃</a>
            </div>
            (주)MUSCLEMATRIX / 대표 : 000 <br />
            주소 : 000시 000동 000000호<br />
            사업자등록번호 000-00-00000 / 통신판매업신고번호 제 0000-00 00000<br /><br />
            Copyright @ 2012 MuscleMatrix. All Rights Reserved.
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="/js/main/main.js"></script>
</html>
