<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" href="/css/apply/apply.css" />
<link rel="stylesheet" href="/css/main/header.css"
	data-whatIsThis="헤더CSS임포트" />
<link rel="stylesheet" href="/css/main/footer.css"
	data-whatIsThis="푸터CSS임포트" />
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<title>PT신청</title>
</head>

<body>
	<div class="wrapper">
		<div th:replace="~{main/header :: header}">헤더파일 가져오는곳</div>


		<div class="page-header background7"
			data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12 page-header-wrapper">
						<div class="top-sub-title">PT 신청</div>
						<div class="top-sub-desc">신청하기</div>
					</div>
				</div>
			</div>
		</div>


		<div class="md-margin2x"></div>


		<section class="content">
			<div class="container">

				<div class="row mt10p bra-wrap">
					<div class="bra-tit">맞춤형 운동 프로그램</div>
					<div class="bra-desc">
						<p>개인별 다양한 운동 목적에 맞는 퍼스널 트레이닝이 가능합니다.</p>
					</div>

					<!-- 강사 사진과 오픈채팅방링크 -->
					<th:block th:each="tvd: ${tvds}">
						<div class="row mt15 exe-pro-box">
							<div class="col-md-6 col-sm-6 col-xs-12 left-box" style="width:30%">
								<img th:src="${tvd.getTeacher_profile()}">
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 right-box" style="width:70%">


								<div class="right-div">
									<div class="teacher-info">
										<div class="teacher-name" th:text="${tvd.getTeacher_name()}">강사
											이름</div>
										<div class="teacher-program">
											<ul>
												<th:block th:each="program: ${tvd.getPrograms()}">
													<li th:text="${program.getProgram_content()}">강사가 진행할 프로그램</li>
												</th:block>
												<!-- 추가 프로그램 항목들 -->
											</ul>
										</div>
									</div>
									<div class="teacher-kakaochat">
										<img
											src="https://i.namu.wiki/i/oajeAAWYOnL6MAjZ8tLx9YGxt8YVSJN5CiasUYljnw9Bs4VEIptT3vxXBj3y7QmMopPPk1tCUG2Zj4p-t8BfSzATgJV8sS2jKKnYTKTGLXT01HmjeQ99xPC4Wx37koXBglZ_-bvOlwGsAGv_UUurEA.svg"
											alt="Kakao Logo" class="kakao-logo"> <span><a
											th:href="${tvd.getTeacher_KAKAOLINK()}">카카오 오픈 채팅방 연결</a></span>
									</div>
								</div>


							</div>
						</div>
					</th:block>
				</div>
			</div>



		</section>

		<div th:replace="~{main/footer :: footer}">푸터파일 가져오는곳</div>
	</div>


</body>


</html>